<!DOCTYPE HTML>
<HTML Lang = "ru_RU">
<HEAD>
  <META Charset = "UTF-8" />
  <META Http-Equiv = "X-UA-Compatible" Content = "IE=Edge" />
  <META Name="Viewport" Content="Width = Device-Width, Initial-Scale = 1" Loa/>
  <TITLE>Обратный отсчет до взрослой жизни</TITLE>
  <LINK Rel="StyleSheet" Href="../Csss/MainActivity.CSS">
  <SCRIPT Src="../JavaScripts/MainActivity.JS"></SCRIPT>
</HEAD>
<BODY>
  <DIV Class = "Box">
    <SPAN Id = "Tips" Class = "Tips"></SPAN>
    <BR />
    <BR />
    <SPAN Id = "Time" Class = "Time"></SPAN>
  </DIV>
</BODY>
</HTML>